<!doctype html>
<html
  class="dark"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(content)"
>
  <head>
    <title>KT Spring Boot</title>
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/assets/app.css}" />
    <link rel="stylesheet" href="../../static/assets/input.css" />
  </head>
  <body
    class="flex min-h-dvh flex-col bg-background font-sans text-foreground antialiased"
  >
    <header
      class="sticky inset-0 z-50 flex h-14 items-center border-b bg-popover"
    >
      <div class="container flex items-center justify-between">
        <h1 class="text-xl font-bold">KT Spring</h1>

        <nav class="flex items-center space-x-4">
          <a
            href="/"
            class="text-sm font-medium text-muted-foreground hover:text-foreground"
          >
            Home
          </a>
          <a
            href="/about"
            class="text-sm font-medium text-muted-foreground hover:text-foreground"
          >
            About
          </a>
        </nav>
      </div>
    </header>

    <main th:replace="${content}"></main>

    <footer class="border-t bg-popover">
      <div class="container flex items-center justify-center py-6">
        <p id="copyright" class="text-sm text-muted-foreground" />
      </div>
    </footer>

    <script>
      const year = new Date().getFullYear()
      document.getElementById('copyright').textContent =
        `© ${year} KT Spring. All Rights Reserved.`
    </script>
  </body>
</html>
