<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/main :: layout(~{::main})}"
>
  <main class="container flex-1 py-4">
    <h2 class="text-2xl font-bold">About Us</h2>

    <p class="mt-4 text-lg">
      Welcome to KT Spring! We are a team of passionate developers dedicated to
      building high-quality software solutions. Our mission is to create
      innovative applications that make a difference in people's lives.
    </p>
    <p class="mt-4 text-lg">
      At KT Spring, we value creativity, collaboration, and continuous learning.
      We believe in fostering a positive work environment where everyone can
      thrive and contribute their unique talents. Our team is committed to
      delivering exceptional results while maintaining a healthy work-life
      balance.
    </p>
    <p class="mt-4 text-lg">
      Thank you for visiting our website. We look forward to connecting with you
      and sharing our journey as we continue to grow and innovate in the world
      of software development.
    </p>
  </main>
</html>
